* {
  margin: 0;
  padding: 0;
  font-family: '微软雅黑';
  outline: none;
}
.page_error {
  height: 650px;
  width: 100%;
  text-align: center;
}
.page_error .error_img {
  margin-top: 130px;
}
.div_lock {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0.3;
  background-color: #000;
  z-index: 99;
}
.span_link {
  color: #4692fa;
  cursor: pointer;
}
.span_link:hover {
  color: #1b68d1;
}
.div_batchimport {
  display: none;
  position: absolute;
  width: 550px;
  height: auto;
  border: 1px solid #e7e7eb;
  z-index: 100;
  background-color: #fff;
}
.div_batchimport .div_batchimport_title {
  background-color: #e5e6e8;
  height: 40px;
  line-height: 40px;
  vertical-align: middle;
  border-bottom: 1px solid #e7e7eb;
}
.div_batchimport .batchimport_title_icon {
  width: 4px;
  height: 14px;
  background-color: #6b6b6b;
  border: 0;
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 5px;
  float: left;
}
.div_batchimport .batchimport_close {
  width: 9px;
  height: 9px;
  float: right;
  margin-top: 15px;
  background-image: url("../images/tanchu_close.jpg");
  margin-right: 15px;
  cursor: pointer;
}
.div_batchimport .batchimport_close:hover {
  margin-top: 13px;
  margin-right: 13px;
  width: 15px;
  height: 15px;
  background-image: url("../images/close_hover.gif");
}
.div_batchimport .div_batchimport_text {
  height: 80px;
  line-height: 80px;
  margin-left: 30px;
}
.div_batchimport .div_success {
  border-top: 1px solid #e7e7eb;
  padding-top: 20px;
  height: 150px;
  padding-left: 20px;
}
.review_tip {
  display: none;
  position: absolute;
  z-index: 100;
  background-color: #fff;
  padding: 25px 60px;
}
.review_tip .fail_tip {
  color: red;
  font-size: 15px;
  text-align: center;
  padding-bottom: 18px;
  font-weight: 600;
}
.review_tip img {
  float: left;
}
.review_tip .tip_text {
  float: left;
  padding-left: 15px;
  margin-top: 8px;
}
.delete_tip,
.offline_tip {
  display: none;
  position: absolute;
  width: 415px;
  height: 215px;
  border: 1px solid #bebebf;
  z-index: 100;
  background-color: #fff;
}
.delete_tip .tip_title,
.offline_tip .tip_title {
  background-color: #4692fa;
  height: 40px;
  color: #fff;
  line-height: 40px;
  vertical-align: middle;
}
.delete_tip .tip_title .tip_title_icon,
.offline_tip .tip_title .tip_title_icon {
  width: 4px;
  height: 14px;
  background-color: #fff;
  border: 0;
  margin-top: 14px;
  margin-left: 20px;
  margin-right: 5px;
  float: left;
}
.delete_tip .tip_title .tip_close,
.offline_tip .tip_title .tip_close {
  width: 9px;
  height: 9px;
  float: right;
  margin-top: 15px;
  background-image: url("../images/close.jpg");
  margin-right: 15px;
  cursor: pointer;
}
.delete_tip .tip_title .tip_close:hover,
.offline_tip .tip_title .tip_close:hover {
  margin-top: 13px;
  margin-right: 13px;
  width: 15px;
  height: 15px;
  background-image: url("../images/close_hover.gif");
}
.delete_tip .ask_icon,
.offline_tip .ask_icon {
  width: 51px;
  height: 51px;
  margin-top: 35px;
  margin-left: 55px;
  background-image: url("../images/ask.gif");
  float: left;
}
.delete_tip .tip_icon,
.offline_tip .tip_icon {
  width: 51px;
  height: 51px;
  margin-top: 35px;
  margin-left: 55px;
  background-image: url("../images/tip.gif");
  float: left;
}
.delete_tip .tip_text,
.offline_tip .tip_text {
  width: 300px;
  color: #000;
  margin-top: 50px;
  margin-left: 115px;
  font-weight: bold;
}
.delete_tip .tip_btns,
.offline_tip .tip_btns {
  margin-top: 42px;
  margin-left: 110px;
}
.menu {
  width: 209px;
  float: left;
  padding-top: 6px;
}
.menu .menuMain {
  width: 210px;
  height: 34px;
  float: left;
  line-height: 34px;
  font-size: 14px;
  text-indent: 7px;
  color: #8d8d8d;
  border-top: 1px solid #e7e7eb;
}
.menu .menuMain .ico {
  width: 22px;
  height: 17px;
  margin-top: 8px;
  margin-left: 30px;
  float: left;
  background-image: url("../images/icon.jpg");
  background-repeat: no-repeat;
  background-position-x: 0;
  background-position-y: 0;
}
.menu .menuChild {
  width: 210px;
  height: 34px;
  float: left;
  line-height: 34px;
  font-size: 14px;
  cursor: pointer;
  text-indent: 60px;
}
.coreTitle {
  width: 100%;
  height: 105px;
}
.coreTitle .title {
  width: 100%;
  height: 72px;
  font-size: 16px;
  line-height: 72px;
  color: #222222;
  margin-left: 30px;
  float: left;
}
.coreTitle .titleChild {
  float: left;
  height: 30px;
  font-size: 14px;
  padding-left: 30px;
  padding-right: 30px;
  cursor: pointer;
}
.coreTitle .titleLine {
  width: 100%;
  height: 1px;
  border: 0;
  background-color: #e7e7eb;
  float: left;
}
.core {
  width: 100%;
}
.core .moudule_core {
  height: 40px;
  background-color: #f4f5f9;
  line-height: 40px;
  text-indent: 5px;
  width: 94%;
  border: 1px solid #e7e7eb;
  margin: 0 auto;
  margin-top: 15px;
}
.core .moudule_core .r_select {
  outline: none;
  border: 1px solid #e7e7eb;
  background-color: #fff;
  padding-left: 2px;
  font-size: 12px;
  width: 120px;
  height: 25px;
  margin-left: 8px;
}
.core .moudule {
  border: 1px solid #e7e7eb;
  width: 94%;
  margin: 0 auto;
  margin-top: 15px;
  overflow: hidden;
}
.core .moudule .moudule_title {
  height: 40px;
  background-color: #f4f5f9;
  line-height: 40px;
  text-indent: 5px;
  border-bottom: 1px solid #e7e7eb;
  padding-left: 15px;
}
.core .moudule .moudule_title select {
  outline: none;
  border: 1px solid #e7e7eb;
  background-color: #fff;
  padding-left: 2px;
  font-size: 12px;
  height: 30px;
  line-height: 30px;
}
.core .moudule .moudule_title_icon {
  width: 4px;
  height: 14px;
  background-color: #6b6b6b;
  border: 0;
  margin-top: 13px;
  float: left;
}
.core .moudule .export_hint {
  float: right;
  line-height: 40px;
  color: #ff4f15;
  cursor: pointer;
}
.core .moudule .export_hint:hover {
  color: red;
  text-decoration: underline;
}
.core .moudule .div_export {
  color: #4692fa;
  cursor: pointer;
  float: right;
  margin-left: 60px;
  margin-right: 25px;
}
.core .moudule .div_export:hover {
  color: #1b68d1;
}
.core .moudule .mouduleTitleChild {
  float: left;
  padding-left: 15px;
  padding-right: 15px;
  cursor: pointer;
}
.core .moudule .moudule_mask {
  padding-left: 15px;
  margin-top: 10px;
}
.core .moudule input[type=checkbox] {
  outline: none;
  width: 15px;
  height: 15px;
  padding-right: 5px;
  margin-top: 12px;
  margin-left: 50px;
}
.core .moudule label {
  display: inline-block;
  vertical-align: middle;
  margin-top: -8px;
}
.core .moudule .photo_title {
  width: 30%;
  height: 55px;
  line-height: 55px;
  margin-left: 20px;
  text-align: center;
  font-weight: bold;
  float: left;
}
.core .moudule .photo {
  width: 30%;
  height: 205px;
  border: 1px solid #e7e7eb;
  margin-left: 20px;
  float: left;
}
.core .moudule .div_condition {
  margin-left: 7px;
  float: left;
}
.core .moudule .div_condition p {
  margin-top: 20px;
}
.core .moudule .div_condition input[type=text],
.core .moudule .div_condition input[type=password] {
  outline: none;
  border: 1px solid #e7e7eb;
  width: 180px;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
  padding-left: 5px;
}
.core .moudule .div_condition select {
  outline: none;
  border: 1px solid #e7e7eb;
  background-color: #fff;
  padding-left: 2px;
  font-size: 12px;
  width: 187px;
  height: 30px;
  line-height: 30px;
  margin-left: 5px;
}
.core .moudule .div_condition textarea {
  resize: none;
  width: 300px;
  height: 45px;
  border: 1px solid #e7e7eb;
  outline: none;
  overflow: auto;
  padding-left: 5px;
  padding-top: 5px;
}
.core .moudule .buttons {
  clear: both;
  padding-top: 20px;
  margin-left: 250px;
  margin-top: 45px;
  margin-bottom: 20px;
}
.core .moudule .buttons_1 {
  clear: both;
  padding-top: 15px;
  margin-left: 20px;
}
.core .moudule .role_select {
  outline: none;
  border: 1px solid #e7e7eb;
  background-color: #fff;
  padding-left: 2px;
  font-size: 12px;
  width: 115px;
  height: 28px;
  margin-left: -5px;
}
.core .moudule .role_content {
  scrollbar-arrow-color: #666;
  scrollbar-shadow-color: #f4f5f9;
  scrollbar-highlight-color: #f4f5f9;
  scrollbar-face-color: #d9dadc;
  scrollbar-3dlight-color: #d9dadc;
  scrollbar-darkshadow-color: #d9dadc;
  scrollbar-track-color: #f4f5f9;
  scrollbar-base-color: #f4f5f9;
  height: 187px;
  overflow: auto;
}
.core .moudule .role_content .role_item {
  height: 40px;
  line-height: 40px;
  text-indent: 15px;
  cursor: pointer;
}
.core .moudule .roleCheckTitle {
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.core .moudule .account_info {
  text-align: left;
  float: left;
}
.core .moudule .account_info div {
  padding-top: 18px;
  letter-spacing: 0.5px;
}
.core .moudule .div_arrow {
  height: 230px;
  width: 60px;
  float: left;
  vertical-align: middle;
}
.core .moudule .div_arrow .arrow {
  width: 46px;
  height: 32px;
  background-image: url('../images/g_button.jpg');
  margin-left: 12px;
  margin-top: 15px;
  padding: 0 0;
  cursor: pointer;
  background-position-x: 0;
  background-position-y: -96px;
}
.core .moudule .div_pass {
  width: 300px;
  height: 230px;
  border-right: 1px solid #e7e7eb;
  text-align: center;
  float: left;
}
.core .moudule .div_nopass {
  width: 420px;
  float: left;
  text-align: left;
  padding-left: 25px;
  padding-top: 15px;
}
.core .moudule .div_nopass .reason_textarea {
  resize: none;
  margin-top: 20px;
  width: 300px;
  height: 85px;
  maxwidth: 300px;
  maxheight: 90px;
  border: 1px solid #e7e7eb;
  outline: none;
  overflow: auto;
  padding-left: 5px;
  padding-top: 5px;
}
.core .moudule .moudule_info .ico_mask {
  border: 0;
  text-align: center;
  line-height: 9px;
  width: 17px;
  height: 9px;
  font-size: 10px;
  background-color: #ff561e;
  margin-top: 5px;
  color: #fff;
  float: right;
}
.core .info_tab {
  width: 95.5%;
  height: 375px;
  margin: 0 auto;
  margin-top: 20px;
  padding: 0;
  vertical-align: middle;
  text-align: left;
}
.core .info_tab tr {
  height: 40px;
}
.core .info_tab td {
  background-color: #fff;
  padding-left: 10px;
}
.core .info_tab td input[type=text],
.core .info_tab td input[type=password] {
  outline: none;
  border: 1px solid #e7e7eb;
  width: 220px;
  height: 30px;
  line-height: 30px;
  padding-left: 5px;
}
.core .info_tab td select {
  outline: none;
  border: 1px solid #e7e7eb;
  background-color: #fff;
  padding-left: 2px;
  font-size: 12px;
  width: 220px;
  height: 30px;
  line-height: 30px;
}
.core .info_tab td .mask_textarea {
  resize: none;
  width: 425px;
  padding-top: 5px;
  height: 50px;
  border: 1px solid #e7e7eb;
  outline: none;
  overflow: auto;
  padding-left: 5px;
  margin-top: 5px;
}
.core .info_tab tr.odd td {
  background-color: #f4f5f9;
}
.core .info_tab .info_td {
  text-align: left;
  padding-left: 40px;
  font-weight: bold;
}
.core .info_tab .tab_td {
  text-align: left;
}
.core .div_button {
  margin: 0 auto;
  text-align: center;
}
.core .div_page {
  float: right;
  line-height: 30px;
  margin-right: 20px;
}
.core .div_page .total_div {
  float: left;
  margin-right: 15px;
}
.core .div_page .num_page {
  float: left;
}
.core .div_page .first_page {
  float: left;
  width: 30px;
  height: 32px;
  background-image: url("../images/page_5.jpg");
  margin-left: 10px;
  margin-bottom: 3px;
  cursor: pointer;
}
.core .div_page .pre_page {
  float: left;
  width: 30px;
  height: 32px;
  background-image: url("../images/page_4.jpg");
  margin-left: 10px;
  margin-bottom: 3px;
  cursor: pointer;
}
.core .div_page .next_page {
  float: left;
  width: 30px;
  height: 32px;
  background-image: url("../images/page_1.jpg");
  margin-left: 5px;
  margin-bottom: 3px;
  cursor: pointer;
}
.core .div_page .last_page {
  float: left;
  width: 30px;
  height: 32px;
  background-image: url("../images/page_6.jpg");
  margin-left: 5px;
  margin-bottom: 3px;
  cursor: pointer;
}
.core .div_page .input_page {
  float: left;
  width: 70px;
  height: 30px;
  line-height: 30px;
  outline: none;
  border: 1px solid #e7e7eb;
  background-color: #fff;
  padding-left: 8px;
  margin-left: 7px;
  margin-right: 10px;
}
.core .div_page .btn_jump {
  float: left;
  background-image: url("../images/page_3.jpg");
  cursor: pointer;
  width: 70px;
  height: 32px;
}
.core .div_table {
  scrollbar-arrow-color: #666;
  scrollbar-shadow-color: #f4f5f9;
  scrollbar-highlight-color: #f4f5f9;
  scrollbar-face-color: #d9dadc;
  scrollbar-3dlight-color: #d9dadc;
  scrollbar-darkshadow-color: #d9dadc;
  scrollbar-track-color: #f4f5f9;
  scrollbar-base-color: #f4f5f9;
  border-top: 1px solid #e7e7eb;
  margin: 15px 15px;
  width: 730px;
  height: auto;
  overflow-x: auto;
  overflow-y: hidden;
}
.core .m_info_tab {
  width: 730px;
  padding: 0 0;
  text-align: center;
  height: 210px;
}
.core .m_info_tab td {
  border-bottom: solid #e7e7eb 1px;
  padding: 1px 1px 1px 1px;
  height: 80px;
}
.core .m_info_tab td .edit_div,
.core .m_info_tab td .del_div {
  float: left;
  margin-left: 60px;
  cursor: pointer;
}
.core .m_info_tab td .edit_div .icon_div,
.core .m_info_tab td .del_div .icon_div {
  width: 19px;
  height: 19px;
  background-image: url("../images/edit_delete.png");
  margin-right: 3px;
  margin-top: -1px;
  float: left;
}
.core .m_info_tab td .edit_div .icon_div:hover,
.core .m_info_tab td .del_div .icon_div:hover {
  background-position-y: -19px;
}
.core .m_info_tab td .edit_div:hover,
.core .m_info_tab td .del_div:hover {
  color: #4692fa;
}
.core .m_info_tab .tabth {
  height: 40px;
  background-color: #f4f5f9;
  text-align: center;
}
.core .m_info_tab .tabtdSingle {
  background-color: #f4f5f9;
}
.core .tittab {
  /*
  width:auto;
  */
  width: 1200px;
  padding: 0 0;
  text-align: center;
  font-size: 12px;
}
.core .tittab td {
  border-bottom: solid #e7e7eb 1px;
  padding: 1px 1px 1px 1px;
}
.core .tittab .titth {
  background-color: #f4f5f9;
  text-align: center;
}
.core .tittab tr {
  min-height: 45px;
  max-height: 60px;
}
.core .tittab .thtr {
  min-height: 40px;
}
.core .tittab .tittd {
  background-color: #fff;
  padding: 0 0;
  vertical-align: middle;
}
.core .tittab .tittd .edit_div,
.core .tittab .tittd .del_div {
  float: left;
  margin-left: 60px;
  cursor: pointer;
}
.core .tittab .tittd .edit_div .icon_div,
.core .tittab .tittd .del_div .icon_div {
  width: 19px;
  height: 19px;
  background-image: url("../images/edit_delete.png");
  margin-right: 3px;
  margin-top: -1px;
  float: left;
}
.core .tittab .tittd .edit_div .icon_div:hover,
.core .tittab .tittd .del_div .icon_div:hover {
  background-position-y: -19px;
}
.core .tittab .tittd .edit_div:hover,
.core .tittab .tittd .del_div:hover {
  color: #4692fa;
}
.core .tittab .tittdSingle {
  background-color: #f4f5f9;
}
.btn_review,
.input_button {
  border: 0;
  outline: none;
  width: 106px;
  height: 32px;
  background-image: url("../images/B_button.jpg");
  background-position-x: 0;
  background-position-y: 0;
}
.div_radio {
  width: 110px;
  margin-top: 10px;
  float: right;
}
.div_radio label {
  display: inline-block;
  vertical-align: middle;
  margin-top: -9px;
}
.div_tips {
  /*display: none;*/
  background-color: #fee1d7;
  min-height: 40px;
  margin: 0 auto;
  margin-top: 10px;
  width: 92%;
  line-height: 40px;
  padding-left: 15px;
}
.success_tip {
  display: none;
  position: absolute;
  background-color: #fee1d7;
  min-height: 40px;
  min-width: 235px;
  max-width: 720px;
  line-height: 40px;
  padding-left: 15px;
  z-index: 100;
}
.success_tip .success_title_text {
  float: left;
  padding-right: 15px;
}
.error_tip {
  display: none;
  position: absolute;
  background-color: #fee1d7;
  min-height: 40px;
  min-width: 235px;
  max-width: 720px;
  color: #ff4f15;
  line-height: 40px;
  padding-left: 15px;
  z-index: 100;
}
.error_tip .error_title_text {
  font-weight: bold;
  float: left;
  padding-right: 15px;
}
.error_tip .error_tip_close {
  width: 9px;
  height: 9px;
  float: right;
  margin-top: 15px;
  margin-right: 10px;
  background-image: url("../images/close.png");
  cursor: pointer;
}
.error_tip .error_tip_close:hover {
  margin-top: 12px;
  margin-right: 6px;
  width: 15px;
  height: 15px;
  background-image: url("../images/close_hover.gif");
}
.error_tips {
  background-color: #fee1d7;
  min-height: 35px;
  min-width: 235px;
  max-width: 720px;
  float: left;
  margin-top: 5px;
  margin-left: 250px;
  padding-right: 15px;
  line-height: 32px;
  padding-left: 10px;
  color: #ff4f15;
  font-weight: bold;
}
.tip_icon {
  margin-top: 10px;
  margin-right: 8px;
  border: 0;
  width: 16px;
  height: 16px;
  background-position-x: -16px;
  background-position-y: 0;
  background-image: url("../images/tip.jpg");
  float: left;
}
input[type=radio] {
  outline: none;
  width: 15px;
  height: 15px;
  padding-right: 0;
  padding-top: 10px;
}
.span_must {
  color: #ff4f15;
}
.reviewtime {
  color: #ff4f15;
  margin-right: 255px;
  margin-top: 34px;
  float: right;
}
.tr_statistics {
  background-color: #fee1d7;
  color: #ff4f15;
  height: 45px;
  font-weight: bold;
}
.div_btns {
  margin-top: 45px;
  margin-left: 250px;
  margin-bottom: 45px;
}
.div_bottom {
  width: 100%;
  height: 65px;
  background-color: #b8b9b9;
  text-align: center;
  margin-top: 80px;
}
.div_bottom .div_copyright {
  width: 993px;
  height: 65px;
  margin-left: 23%;
  background-image: url('../images/LONGIN8_09.png');
  _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="../images/LONGIN8_09.png");
  _background: none;
}
